.elementor-561 .elementor-element.elementor-element-2dec3ed {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-start;
    --align-items: center;
    --background-transition: 0.3s;
    border-style: none;
    --border-style: none;
    --margin-top: 0px;
    --margin-bottom: -120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 40px;
    --padding-right: 40px;
    --z-index: 100;
}

.elementor-561 .elementor-element.elementor-element-2dec3ed,
.elementor-561 .elementor-element.elementor-element-2dec3ed::before {
    --border-transition: 0.3s;
}

.elementor-561 .elementor-element.elementor-element-17134ec {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: flex-start;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-561 .elementor-element.elementor-element-17134ec.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-561 .elementor-element.elementor-element-878fe57 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-start;
    --align-items: center;
    --gap: 60px 60px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-561 .elementor-element.elementor-element-423711a {
    text-align: left;
    width: var( --container-widget-width, 175px);
    max-width: 175px;
    --container-widget-width: 175px;
    --container-widget-flex-grow: 0;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu>ul,
.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu,
.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu>li>a {
    display: flex;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
    justify-content: flex-start;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu {
    left: unset;
    top: 100%;
    right: unset;
    bottom: unset;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu .menu-item .sub-menu {
    left: 100%;
    top: unset;
    right: unset;
    bottom: unset;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    height: 80px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
    font-family: var( --e-global-typography-ca052ed-font-family), Sans-serif;
    font-size: var( --e-global-typography-ca052ed-font-size);
    font-weight: var( --e-global-typography-ca052ed-font-weight);
    text-transform: var( --e-global-typography-ca052ed-text-transform);
    text-decoration: var( --e-global-typography-ca052ed-text-decoration);
    line-height: var( --e-global-typography-ca052ed-line-height);
    letter-spacing: var( --e-global-typography-ca052ed-letter-spacing);
    word-spacing: var( --e-global-typography-ca052ed-word-spacing);
    margin: 0px 0px 0px 0px;
    padding: 0px 30px 0px 0px;
    color: var( --e-global-color-34b3df0);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
    fill: var( --e-global-color-34b3df0);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
    color: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a svg {
    fill: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
    color: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
    fill: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
    color: var( --e-global-color-secondary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
    fill: var( --e-global-color-secondary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i,
.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-family: var( --e-global-typography-ca052ed-font-family), Sans-serif;
    font-size: var( --e-global-typography-ca052ed-font-size);
    font-weight: var( --e-global-typography-ca052ed-font-weight);
    text-transform: var( --e-global-typography-ca052ed-text-transform);
    text-decoration: var( --e-global-typography-ca052ed-text-decoration);
    line-height: var( --e-global-typography-ca052ed-line-height);
    letter-spacing: var( --e-global-typography-ca052ed-letter-spacing);
    word-spacing: var( --e-global-typography-ca052ed-word-spacing);
    margin: 0px 0px 0px 0px;
    padding: 15px 10px 15px 10px;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
    color: var( --e-global-color-34b3df0);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
    fill: var( --e-global-color-34b3df0);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
    color: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
    fill: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
    color: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
    fill: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    margin: 0px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px 15px 15px 15px;
    min-width: 220px;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
    float: right;
    background-color: var( --e-global-color-primary);
    border-style: none;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu:not(.hover-gradient):hover,
.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu.hover-gradient:before {
    background-color: var( --e-global-color-secondary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    background-color: var( --e-global-color-secondary);
    border-style: none;
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:not(.hover-gradient):hover,
.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu.hover-gradient:before {
    background-color: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    object-fit: cover;
}

.elementor-561 .elementor-element.elementor-element-974672b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: flex-end;
    --align-items: flex-end;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-561 .elementor-element.elementor-element-974672b.e-con {
    --align-self: center;
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button {
    text-align: right;
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
    padding: 15px 30px 15px 30px;
    font-family: var( --e-global-typography-af52244-font-family), Sans-serif;
    font-size: var( --e-global-typography-af52244-font-size);
    font-weight: var( --e-global-typography-af52244-font-weight);
    text-transform: var( --e-global-typography-af52244-text-transform);
    text-decoration: var( --e-global-typography-af52244-text-decoration);
    line-height: var( --e-global-typography-af52244-line-height);
    letter-spacing: var( --e-global-typography-af52244-letter-spacing);
    word-spacing: var( --e-global-typography-af52244-word-spacing);
    color: var( --e-global-color-accent);
    background-color: var( --e-global-color-secondary);
    border-radius: 50px 50px 50px 50px;
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper svg {
    fill: var( --e-global-color-accent);
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover {
    color: var( --e-global-color-accent);
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover svg {
    fill: var( --e-global-color-accent);
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(.hover-gradient):hover,
.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper.hover-gradient:before {
    background-color: var( --e-global-color-primary);
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper i,
.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper svg {
    margin-right: 15px;
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper i,
.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper svg {
    margin-left: 15px;
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper i,
.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper svg {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    transform: translateY(-1px);
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(:hover)>i {
    color: var( --e-global-color-accent);
}

.elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(:hover)>svg {
    fill: var( --e-global-color-accent);
}

@media(min-width:768px) {
    .elementor-561 .elementor-element.elementor-element-17134ec {
        --width: 80%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-561 .elementor-element.elementor-element-17134ec {
        --width: 100%;
    }
    .elementor-561 .elementor-element.elementor-element-878fe57 {
        --width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-561 .elementor-element.elementor-element-2dec3ed {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --padding-top: 20px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-561 .elementor-element.elementor-element-878fe57 {
        --justify-content: space-between;
    }
    .elementor-561 .elementor-element.elementor-element-423711a {
        --container-widget-width: 175px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 175px);
        max-width: 175px;
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu.break-point-mobile .jkit-menu-wrapper {
        background-color: var( --e-global-color-2ac5899);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu.break-point-tablet .jkit-menu-wrapper {
        background-color: var( --e-global-color-2ac5899);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        font-size: var( --e-global-typography-ca052ed-font-size);
        line-height: var( --e-global-typography-ca052ed-line-height);
        letter-spacing: var( --e-global-typography-ca052ed-letter-spacing);
        word-spacing: var( --e-global-typography-ca052ed-word-spacing);
        padding: 15px 20px 15px 20px;
        color: var( --e-global-color-34b3df0);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
        fill: var( --e-global-color-34b3df0);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
        color: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a svg {
        fill: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
        color: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
        fill: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
        color: var( --e-global-color-secondary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        fill: var( --e-global-color-secondary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i,
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        margin: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
        font-size: var( --e-global-typography-ca052ed-font-size);
        line-height: var( --e-global-typography-ca052ed-line-height);
        letter-spacing: var( --e-global-typography-ca052ed-letter-spacing);
        word-spacing: var( --e-global-typography-ca052ed-word-spacing);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
        color: var( --e-global-color-34b3df0);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
        fill: var( --e-global-color-34b3df0);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
        color: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
        fill: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
        color: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
        fill: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        border-radius: 5px 5px 5px 5px;
        color: var( --e-global-color-accent);
        margin: 0px 0px 0px 0px;
        padding: 15px 15px 10px 16px;
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        fill: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu:hover {
        color: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu:hover svg {
        fill: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu i {
        font-size: 13px;
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu svg {
        width: 13px;
        fill: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        border-radius: 5px 5px 5px 5px;
        color: var( --e-global-color-accent);
        margin: 10px 20px 0px 20px;
        padding: 12px 14px 8px 15px;
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover {
        color: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover svg {
        fill: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 160px;
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo {
        margin: 3px 20px 0px 20px;
    }
    .elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
        font-size: var( --e-global-typography-af52244-font-size);
        line-height: var( --e-global-typography-af52244-line-height);
        letter-spacing: var( --e-global-typography-af52244-letter-spacing);
        word-spacing: var( --e-global-typography-af52244-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-561 .elementor-element.elementor-element-17134ec {
        --width: 100%;
    }
    .elementor-561 .elementor-element.elementor-element-878fe57 {
        --width: 100%;
    }
    .elementor-561 .elementor-element.elementor-element-423711a {
        --container-widget-width: 145px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 145px);
        max-width: 145px;
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu.break-point-mobile .jkit-menu-wrapper {
        background-color: var( --e-global-color-2ac5899);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu.break-point-tablet .jkit-menu-wrapper {
        background-color: var( --e-global-color-2ac5899);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        font-size: var( --e-global-typography-ca052ed-font-size);
        line-height: var( --e-global-typography-ca052ed-line-height);
        letter-spacing: var( --e-global-typography-ca052ed-letter-spacing);
        word-spacing: var( --e-global-typography-ca052ed-word-spacing);
        color: var( --e-global-color-34b3df0);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
        fill: var( --e-global-color-34b3df0);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
        color: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a svg {
        fill: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
        color: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
        fill: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
        color: var( --e-global-color-secondary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        fill: var( --e-global-color-secondary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
        font-size: var( --e-global-typography-ca052ed-font-size);
        line-height: var( --e-global-typography-ca052ed-line-height);
        letter-spacing: var( --e-global-typography-ca052ed-letter-spacing);
        word-spacing: var( --e-global-typography-ca052ed-word-spacing);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
        color: var( --e-global-color-34b3df0);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
        fill: var( --e-global-color-34b3df0);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
        color: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
        fill: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
        color: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
        fill: var( --e-global-color-primary);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        color: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        fill: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu:hover {
        color: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu:hover svg {
        fill: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        color: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu svg {
        fill: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover {
        color: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover svg {
        fill: var( --e-global-color-accent);
    }
    .elementor-561 .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 160px;
    }
    .elementor-561 .elementor-element.elementor-element-4ae052a .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
        font-size: var( --e-global-typography-af52244-font-size);
        line-height: var( --e-global-typography-af52244-line-height);
        letter-spacing: var( --e-global-typography-af52244-letter-spacing);
        word-spacing: var( --e-global-typography-af52244-word-spacing);
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        width: 100%;
        max-width: 360px;
        border-radius: 0;
        background-color: #f7f7f7;
        width: 100%;
        position: fixed;
        top: 0;
        left: -110%;
        height: 100% !important;
        box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        -moz-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -webkit-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -o-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -ms-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper.active {
        left: 0;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        overflow-y: hidden;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title {
        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
        padding: 4px 15px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        position: inherit;
        box-shadow: none;
        background: none;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li {
        display: block;
        width: 100%;
        position: inherit;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu {
        display: none;
        max-height: 2500px;
        opacity: 0;
        visibility: hidden;
        transition: max-height 5s ease-out;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu.dropdown-open {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a i {
        float: right;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a svg {
        float: right
    }
}

@media (min-width: 1025px) {
    .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .admin-bar .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 32px;
    }
}

@media (max-width: 782px) {
    .admin-bar .elementor-element.elementor-element-8c958a9 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 46px;
    }
}